.App {
  font-family: 'Cormorant Garamond', serif;
}

.App header {
  font-size: 70px;
  text-align: center;
  margin-bottom: 20px;
}

.App h5{
  font-size: 20px;
  margin-top: 35px;
  margin-bottom: 15px;
}

.App footer{
  text-align: center;
  font-size: 15px;
  margin-top: 50px;
}
