.Dictionary input{
    width: 85%;
    padding: 10px;
    position: relative;
    top: -95px;
    font-size: 20px;
    border: 2px solid #ddd;
    border-radius: 6px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.Dictionary .search-button{
    color: #ddd;
    font-size: 34px;
    position: absolute;
    right: 261px;
    top: 227px;
}